body,
#root {
  background-color: #f0f0ef !important;
  min-height: 100vh;
}

.menu-link-custom {
  transition: color 0.2s ease-in-out;
}

.menu-link-custom:hover {
  color: #000000 !important;
}

.nav-link:hover {
  color: #000 !important;
}
