body,
#root {
  background-color: #f0f0ef !important;
  min-height: 100vh;
}

/* Efeito de hover para os links do menu */
.menu-link-custom {
  transition: color 0.2s ease-in-out; /* Deixa a mudança de cor suave */
}

.menu-link-custom:hover {
  color: #000000 !important; /* Força a cor preta quando o mouse passar */
}

.nav-link:hover {
  color: #000 !important;
}
